{% load static %}
{% comment %} {%load sass_tags%} {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% sass_src "AuthorizationFrontend/css/main4.scss" %}" /> {% endcomment %}
  </head>
  <body>
    <div id="main">
      <div class="login-box" id="app"></div>
    </div>


  <script defer src="../../static/CoreFrontend/js/main.0b79f8d5aaf61c17a44a.js"></script></body>
</html>
